:root{
    --cor_principal: #C4E1E8;
    --cor_texto: #ffffff;
    --cor_hover: #031f49;
    --cor_nav_bar: #03071D;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
    background-color: var(--cor_hover);
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 5vw;
}

.logo img{
    width: 5vw;
}

.busca{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}

.busca img{
    width: 22px;
    cursor: pointer;
}


.search{
    height: 25px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 10px;
}

.user{
    display: flex;
    justify-content: space-between;
    color: var(--cor_texto);
    gap: 1vw;
    align-items: center;
}

.cadastro{
    display: flex;
    cursor: pointer;

}

.login{
    background-color: var(--cor_principal);
    padding: 3px;
    width: 105px;
    text-align: center;
    color: var(--cor_nav_bar);
    border-radius: 5px;
    cursor: pointer;
}

.nav-section{
    display: flex;
    position: absolute;
    top: 5vw;
    background-color: var(--cor_hover);
    width: 100vw;
}

.navegacao{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--cor_texto);
    width: 99vw;
    padding: 1vw 2vw;

}

.bannerhome{
    max-width: 50vw;
}


.bannerhome img{
    max-width: 90vw;
}